body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}

.jumbotron {
  background-color: #1db954;
  text-align: center;
}

.jumbotron {
  color: #fff;
}

#spotify-image {
  height: 200px;
}
